<div class="container">
  <h1><strong>What Do I Do With...?</strong></h1>

  <p>Not sure what to do with unwanted items in King County? You've come to the right place!</p>

  <p>To begin, use the drop-down menu to select a general category. You will then be asked for more information to narrow your search.</p>

  <hr id="hr-anchor">

  <div class="clearfix">
    <%= form_tag do %>
      <%= select_tag "material", options_from_collection_for_select(@materials, "id", "name"), prompt: "Select a category", class: "form-control input-sm select_box" %><button type="submit" class="btn btn-sm btn-success search_button">GO</button>
    <% end %>
  </div>

  <p id="error"><br><%= flash[:error] %></p>

  <div id="material_result">
  </div>

  <script id="material-result-template" type="text/x-handlebars-template">
    <div id="material_result">

      <hr>

      <h4><em>What do I do with... </em></h4>
      <strong><h3>{{name}}</h3></strong>

      <strong><p>Step 1: Select specific materials</p></strong>

      <%= form_tag("/results", method: "post") do %>

        <div class="container">
            <div class="checkbox">
              {{#each subcategories}}
                <div class="material-block">
                  <div class="watched-checkbox">
                    <input class='{roles: true}' name="subcategories[]" type="checkbox" value="{{name}}" />
                  </div>
                  {{name}} <span class="learn-more glyphicon glyphicon-info-sign gray" href="#" data-toggle="popover" data-placement="bottom" data-content="{{description}}"></span>
                </div>
              {{/each}}
            </div>
        </div>
      
        <div class="clear"></div>

          <p><strong>Step 2: Is this material generated from your business or residence?</strong></p>
          
          <div class="container" style="font-size: 13px;">
            <label class="radio-inline">
              <input name="type" type="radio" value="Business" /> Business
            </label>
            <label class="radio-inline">
              <input name="type" type="radio" value="Residence" /> Residence
            </label>
          </div>

          <br>

          <p><strong>Step 3: Enter your address to find drop-off locations nearest to you</strong></p>
          
          <div class="container">
            <div class="form-group">
              <div class="example-address"><em>ex: 1301 5th Ave, Seattle, WA 98101</em></div>
              <input name="displayed_address" type="text" class="form-control" id="displayed_address_field" />
              <input name="address" type="hidden" id="address_field" class="form-control"/>

              <div class="current-location-block">
                <span class="or"><em>or...</em></span> <button type="button" class="btn btn-sm btn-info current_location">Use Current Location</button><%= image_tag "loading.gif", class: "loading-gif1", height: "20px", style: " display: none; padding-left: 10px" %>
              </div>
            </div>
            <button type="submit" class="onward-button" style="display:none;"></button>
          </div>
        <% end %>
      <button class="btn btn-lg btn-warning dummy-onward-button">Search</button> <%= image_tag "loading.gif", class: "loading-gif2", height: "30px", style: "display: none; padding-left: 10px" %><div class="invalid_address"></div>
    </div>
  </script>
</div>