<div class="container">
  <% @locations.each do |location| %>
    <%= location.name %>, <%= location.materials %><br><br>
  <% end %>

  <p><%= form_tag locations_path, :method => 'get', :class => 'form-inline' do %>
    <div class="form-group">
      <%= text_field_tag :address, nil, class: "form-control" %><%= submit_tag "Go!", class: "submit_address btn btn-sm btn-success" %>
    </div>
  <% end %><p>

  <div class='current_location'>
    <button type="button" class="btn btn-info">Use Current Location</button>
  </div>
  <br>
  <div class='error'></div>
  <div class='long'> </div>
  <div class='lat'> </div>

<!--   <p><div id="map" style="width:600px; height:400px;"></div></p> -->

  <p><div id="map-canvas" style="width:600px; height:400px;"></div></p>
</div>
