<div class="container">

  <h4><em>What do I do with... </em></h4>
  
  <div class="col-md-6">
    
    <strong><h3 id="displayed-title"><%= @displayed_title %></h3></strong>

    <% if @locations_by_type.last %>

      <!-- Locations Table w. Tabs -->

      <!-- Nav Tabs -->

      <ul class="nav nav-tabs">
        <li class="active"><a href="#drop_off" data-toggle="tab">Drop-Off</a></li>
        <li><a href="#pick_up" data-toggle="tab">Pick-Up</a></li>
        <li><a href="#mail_in" data-toggle="tab">Mail-In</a></li>
      </ul>

      <div class="tab-content">

        <!-- Drop-Off Table -->

        <div class="tab-pane active" id="drop_off">
          <% unless @drop_off_locations.empty? %>
            <table class="table table-condensed location-table" id="drop_off_table">
              <thead>
                <th></th>
                <th>Name</th>
                <th>Distance</th>
              </thead>
              <tbody class="locations_table">
                <% @drop_off_locations.each do |location| %>
                  <tr class="locations_row" id="<%= location.id %>" data-name="<%= location.name %>" data-phone="<%= location.phone%>" data-hours="<%= location.hours %>" data-url="<%= location.website %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>" data-distance="<%= location.distance %>" data-latitude="<%= location.latitude %>" data-longitude="<%= location.longitude %>">
                    <td>
                      <span class="glyphicon glyphicon-chevron-down gray" style="display: none;"></span><span class="glyphicon glyphicon-chevron-up gray"></span>
                    </td>
                    <td>
                      <strong>
                        <% if location.website %>
                          <%= link_to location.name, location.website, :target => "_blank" %>
                        <% else %>
                          <%= location.name %>
                        <% end %>
                      </strong>
                    </td>
                    <td><%= location.distance %></td>
                  </tr>
                  <tr class="locations_desc_row" id="desc_<%= location.id %>">
                    <td style="border-top: none;"></td>
                    <td colspan="2" style="border-top: none;">Hello</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br><p>No drop-off locations found.</p><p>Check for pick-up and/or mail-in locations.</p>
          <% end %>
        </div>

        <!-- Pick-Up Table -->

        <div class="tab-pane" id="pick_up">
          <% unless @pick_up_locations.empty? %>
            <table class="table table-condensed location-table" id="pick_up_table">
              <thead>
                <th>Name</th>
                <th>Location</th>
                <th>Hours</th>
                <th>Cost</th>
              </thead>
              <tbody>
                <% @pick_up_locations.each do |location| %>
                  <tr data-name="<%= location.name %>" data-phone="<%= location.phone%>" data-hours="<%= location.hours %>" data-url="<%= location.website %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>">
                    <td>
                      <strong>
                        <% if location.website %>
                          <%= link_to location.name, location.website, :target => "_blank" %>
                        <% else %>
                          <%= location.name %>
                        <% end %>
                      </strong>
                    <br><%= location.phone %></td>
                    <td>
                      <%= location.street %><br>
                      <% if location.city || location.zipcode %>
                        <%= location.city %>, <%= location.state %> <%= location.zipcode%>
                      <% end %>
                    </td>
                    <td><%= location.hours %></td>
                    <td>
                      <% if location.cost %>
                        <%= location.cost.html_safe %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br><p>No pick-up locations found.</p>
          <% end %>
        </div>

        <!-- Mail-In Table -->

        <div class="tab-pane" id="mail_in">
          <% unless @mail_in_locations.empty? %>
            <table class="table table-condensed location-table" id="mail_in_table">
              <thead>
                <th>Name</th>
                <th>Location</th>
                <th>Hours</th>
                <th>Cost</th>
              </thead>
              <tbody>
                <% @mail_in_locations.each do |location| %>
                  <tr data-name="<%= location.name %>" data-phone="<%= location.phone%>" data-hours="<%= location.hours %>" data-url="<%= location.website %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>">
                    <td>
                      <strong>
                        <% if location.website %>
                          <%= link_to location.name, location.website, :target => "_blank" %>
                        <% else %>
                          <%= location.name %>
                        <% end %>
                      </strong>
                    <br><%= location.phone %></td>
                    <td>
                      <%= location.street %><br>
                      <% if location.city || location.zipcode %>
                        <%= location.city %>, <%= location.state %> <%= location.zipcode%>
                      <% end %>
                    </td>
                    <td><%= location.hours %></td>
                    <td>
                      <% if location.cost %>
                        <%= location.cost.html_safe %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br><p>No mail-in locations found.</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">

      <!-- Email -->

      <span class="small-text">Send me these results:</span>
      
      <%= form_tag("/email", method: "post", class: "form-inline") do %>
        <div class="form-group">
          <input type="email" class="form-control input-sm email-me-form" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-info btn-sm email-me-button">Go</button><%= image_tag "loading.gif", id: "loading-gif", height: "20px", style: "display: none; padding-left: 10px" %> <span class="email-notification"></span><span class="email-error"></span>
      <% end %>

      <!-- Map -->

      <br><p>Near <span id="displayed_address"><%= @displayed_address %></span></p>
      <p><div id="map-canvas" style="width:100%; height:400px;"  data-current-location="<%= @current_location %>"></div></p>
    </div>
  <% else %>
    <div class="col-md-6">
      No results.
    </div>
  <% end %>
</div>