<div class="container">
  <h4><em>What do I do with... </em></h4>
  <h3><strong>
    <% @untouched_subcategories.each do |subcategory| %>
      <% if @untouched_subcategories.count == 1 %>
        <%= subcategory %>
      <% elsif @untouched_subcategories.count == 2 %>
        <% unless subcategory == @untouched_subcategories.last %>
          <%= subcategory %>
        <% else %>
          and <%= subcategory %>
        <% end %>
      <% else %>
        <% unless subcategory == @untouched_subcategories.last %>
          <%= subcategory %>,
        <% else %>
          and <%= subcategory %>
        <% end %>
      <% end %>
    <% end %>
  </strong></h3>

  <% if @locations_by_type.last %>
    <% if @drop_off_locations.first %>
      <p><div id="map-canvas" style="width:600px; height:400px;"></div></p>
      <p>Near <%= @displayed_address %></p>

      Drop-Off
      <table class="table table-condensed location-table" id="drop_off_table" data-current-location="<%= @current_location %>">
        <thead>
          <th>Name</th>
          <th>Location</th>
          <th>Hours</th>
          <% if @subcategories.count > 1 || @untouched_subcategories[0].include?("All") %>
            <th>Accepts</th>
          <% end %>
          <th>Distance</th>
        </thead>
        <tbody>
          <% @drop_off_locations.each do |location| %>
            <tr data-name="<%= location.name %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>" data-distance="<%= location.distance %>" data-latitude="<%= location.latitude %>" data-longitude="<%= location.longitude %>">
              <td>
                <strong>
                  <% if location.website %>
                    <%= link_to location.name, location.website, :target => "_blank" %>
                  <% else %>
                    <%= location.name %>
                  <% end %>
                </strong>
              <br><%= location.phone %></td>
              <td>
                <%= location.street %><br>
                <% if location.city || location.zipcode %>
                  <%= location.city %>, <%= location.state %> <%= location.zipcode%>
                <% end %>
              </td>
              <td><%= location.hours %></td>
              <% if @subcategories.count > 1 %>
                <td>
                  <ul>
                    <% location.materials.each do |material| %>
                    <!-- Make this a class method please!!!! -->
                      <% if @subcategories.include?(material) %>
                        <li><%= material %></li>
                      <% end %>
                    <% end %>
                  </ul>
                </td>
              <% end %>
              <td><%= location.distance %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No drop-off locations on record.</p>
    <% end %>

    <% if @pick_up_locations.first %>
      Pick-Up
      <table class="table table-condensed location-table">
        <thead>
          <th>Name</th>
          <th>Location</th>
          <th>Hours</th>
          <% if @subcategories.count > 1 %>
            <th>Accepts</th>
          <% end %>
          <th>Cost</th>
        </thead>
        <tbody>
          <% @pick_up_locations.each do |location| %>
            <tr>
              <td>
                <strong>
                  <% if location.website %>
                    <%= link_to location.name, location.website, :target => "_blank" %>
                  <% else %>
                    <%= location.name %>
                  <% end %>
                </strong>
              <br><%= location.phone %></td>
              <td>
                <%= location.street %><br>
                <% if location.city || location.zipcode %>
                  <%= location.city %>, <%= location.state %> <%= location.zipcode%>
                <% end %>
              </td>
              <td><%= location.hours %></td>
              <% if @subcategories.count > 1 %>
                <td>
                  <% location.materials.each do |material| %>
                  <!-- Make this a class method please!!!! -->
                    <% if @subcategories.include?(material) %>
                      <%= material %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
              <% if location.cost %>
                <td><%= location.cost.html_safe %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @mail_in_locations.first %>
      Mail-In
      <table class="table table-condensed location-table">
        <thead>
          <th>Name</th>
          <th>Location</th>
          <th>Hours</th>
          <% if @subcategories.count > 1 %>
            <th>Accepts</th>
          <% end %>
        </thead>
        <tbody>
          <% @mail_in_locations.each do |location| %>
            <tr>
              <td>
                <strong>
                  <% if location.website %>
                    <%= link_to location.name, location.website, :target => "_blank" %>
                  <% else %>
                    <%= location.name %>
                  <% end %>
                </strong>
              <br><%= location.phone %></td>
              <td>
                <%= location.street %><br>
                <% if location.city || location.zipcode %>
                  <%= location.city %>, <%= location.state %> <%= location.zipcode%>
                <% end %>
              </td>
              <td><%= location.hours %></td>
              <% if @subcategories.count > 1 %>
                <td>
                  <% location.materials.each do |material| %>
                  <!-- Make this a class method please!!!! -->
                    <% if @subcategories.include?(material) %>
                      <%= material %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    Nope. Got nothing for you. :(
  <% end %>
</div>