<div class="container">
  <h4><em>What do I do with... </em></h4>
  <h3><strong>
    <% @subcategories.each do |subcategory| %>
      <% if @subcategories.count == 1 %>
        <%= subcategory %>
      <% elsif @subcategories.count == 2 %>
        <% unless subcategory == @subcategories.last %>
          <%= subcategory %>
        <% else %>
          and <%= subcategory %>
        <% end %>
      <% else %>
        <% unless subcategory == @subcategories.last %>
          <%= subcategory %>,
        <% else %>
          and <%= subcategory %>
        <% end %>
      <% end %>
    <% end %>
  </strong></h3>

  <p>
    <% unless @locations_by_type.last %>
      Nope. Got nothing for you. :(
    <% end %>
  </p>

  <div class='current_location'>
    <button type="button" class="btn btn-info">Use Current Location</button>
  </div>
  <br>
  <div class='error'></div>
  <div class='long'> </div>
  <div class='lat'> </div>

  <p><div id="map-canvas" style="width:600px; height:400px;"></div></p>

  Drop-Off
  <table class="table table-condensed location-table">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Hours</th>
      <th>Pickup</th>
      <th>Dropoff</th>
      <th>Mail In</th>
      <th>Business</th>
      <th>Residents</th>
      <th>Distance</th>
    </thead>
    <tbody>
      <% @drop_off_locations.each do |location| %>
        <tr>
          <td>
            <strong>
              <% if location.website %>
                <%= link_to location.name, location.website, :target => "_blank" %>
              <% else %>
                <%= location.name %>
              <% end %>
            </strong>
          <br><%= location.phone %></td>
          <td>
            <%= location.street %><br>
            <% if location.city || location.zipcode %>
              <%= location.city %>, <%= location.state %> <%= location.zipcode%>
            <% end %>
          </td>
          <td><%= location.hours %></td>
          <td><%= location.pick_up %></td>
          <td><%= location.drop_off %></td>
          <td><%= location.mail_in %></td>
          <td><%= location.business %></td>
          <td><%= location.residents %></td>
          <td><%= location.distance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  Pick-Up
  <table class="table table-condensed location-table">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Hours</th>
      <th>Pickup</th>
      <th>Dropoff</th>
      <th>Mail In</th>
      <th>Business</th>
      <th>Residents</th>
      <th>Distance</th>
    </thead>
    <tbody>
      <% @pick_up_locations.each do |location| %>
        <tr>
          <td>
            <strong>
              <% if location.website %>
                <%= link_to location.name, location.website, :target => "_blank" %>
              <% else %>
                <%= location.name %>
              <% end %>
            </strong>
          <br><%= location.phone %></td>
          <td>
            <%= location.street %><br>
            <% if location.city || location.zipcode %>
              <%= location.city %>, <%= location.state %> <%= location.zipcode%>
            <% end %>
          </td>
          <td><%= location.hours %></td>
          <td><%= location.pick_up %></td>
          <td><%= location.drop_off %></td>
          <td><%= location.mail_in %></td>
          <td><%= location.business %></td>
          <td><%= location.residents %></td>
          <td><%= location.distance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  Mail-In
  <table class="table table-condensed location-table">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Hours</th>
      <th>Pickup</th>
      <th>Dropoff</th>
      <th>Mail In</th>
      <th>Business</th>
      <th>Residents</th>
      <th>Distance</th>
    </thead>
    <tbody>
      <% @mail_in_locations.each do |location| %>
        <tr>
          <td>
            <strong>
              <% if location.website %>
                <%= link_to location.name, location.website, :target => "_blank" %>
              <% else %>
                <%= location.name %>
              <% end %>
            </strong>
          <br><%= location.phone %></td>
          <td>
            <%= location.street %><br>
            <% if location.city || location.zipcode %>
              <%= location.city %>, <%= location.state %> <%= location.zipcode%>
            <% end %>
          </td>
          <td><%= location.hours %></td>
          <td><%= location.pick_up %></td>
          <td><%= location.drop_off %></td>
          <td><%= location.mail_in %></td>
          <td><%= location.business %></td>
          <td><%= location.residents %></td>
          <td><%= location.distance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>