<div class="container">

  <div>
    <div class="main-title">
      <h4 style="margin-bottom:-5px;"><em>What do I do with... </em></h4>
      <strong><h3 id="displayed-title" style="margin-bottom:20px;"><%= @displayed_title %></h3></strong>
    </div>

    <div class="search-again"><h5><a href="/">Search Again</a></h5></div>
  </div>

  <br clear=all>

  <div class="col-md-6 col-md-push-6 map-container" style="clear:all">

    <!-- Email -->

    <span class="small-text">Send me these results:</span>
    
    <%= form_tag("/email", method: "post") do %>
      <input type="email" class="form-control input-sm email-me-form" placeholder="Enter email">

      <button type="submit" class="btn btn-info btn-sm email-me-button">Go</button><%= image_tag "loading.gif", id: "loading-gif", height: "20px", style: "display: none; padding-left: 10px; margin-top: -10px;" %> <div class="email-notification"></div><div class="email-error"></div>
    <% end %>

    <!-- Map -->

    <br><p>Near <span id="displayed_address"><%= @displayed_address %></span></p>
    <div style="width:100%; height:400px;">
      <strong><div class="hover-text"></div></strong>
      <div id="map-canvas" style="width:100%; height:400px;"  data-current-location="<%= @current_location %>"></div>
    </div>

    <!-- Icon Legend -->

    <br>
    <div class="icon_legend">
      <%= image_tag "icon-tibn.gif" %> = Members of the <a href="http://your.kingcounty.gov/solidwaste/takeitback/index.asp" target="_blank">Take It Back Network</a><br>
      <%= image_tag "icon-E-cycle-WA.gif" %> = Members of the <a href="http://www.ecy.wa.gov/programs/swfa/eproductrecycle/index.html" target="_blank">E-Cycle Washington program</a>
    </div>
  </div>

  <div class="col-md-6 col-md-pull-6">
    <% if @drop_off_locations.last || @pick_up_locations.last || @mail_in_locations.last %>

      <!-- Locations Table w. Tabs -->

      <!-- Nav Tabs -->

      <ul class="nav nav-tabs">
        <li class="active"><a href="#drop_off" data-toggle="tab" class="drop_off_tab">Drop-Off (<%= @drop_off_locations.count %>)</a></li>
        <li><a href="#pick_up" data-toggle="tab" class="pick_up_tab">Pick-Up (<%= @pick_up_locations.count %>)</a></li>
        <li><a href="#mail_in" data-toggle="tab" class="mail_in_tab">Mail-In (<%= @mail_in_locations.count %>)</a></li>
      </ul>

      <div class="tab-content">

        <!-- Drop-Off Table -->

        <div class="tab-pane fade in active" id="drop_off">
          <% unless @drop_off_locations.empty? %>
            <table class="table table-condensed location-table" id="drop_off_table">
              <thead>
                <th></th>
                <th>Name</th>
                <th>Distance</th>
              </thead>
              <tbody class="drop_off_locations_table">
                <% @drop_off_locations.each do |location| %>
                  <tr class="locations_row" id="<%= location.id %>" data-name="<%= location.name %>" data-phone="<%= location.phone%>" data-hours="<%= location.hours %>" data-url="<%= location.website %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>" data-distance="<%= location.distance %>" data-latitude="<%= location.latitude %>" data-longitude="<%= location.longitude %>">
                    <td class="fixed-col-a">
                      <span class="glyphicon glyphicon-chevron-down gray" style="display: none;"></span><span class="glyphicon glyphicon-chevron-right gray"></span>
                    </td>
                    <td class="fixed-col-b">
                      <strong>
                        <span class="location_name"><%= location.name %></span>
                          <% if location.tibn %>
                            <%= image_tag "icon-tibn.gif", class: "program_icon" %>
                          <% end %>
                          <% if location.ecycle %>
                            <%= image_tag "icon-E-cycle-WA.gif", class: "program_icon" %>
                          <% end %>
                      </strong>
                    </td>
                    <td class="fixed-col-c"><%= location.distance %></td>
                  </tr>
                  <tr class="locations_desc_row" id="desc_<%= location.id %>">
                    <td style="border-top: none;"></td>
                    <td colspan="1" style="border-top: none;">
                      <table style="margin-bottom: 8px;">
                        <tr>
                          <td style="padding-right: 5px;"><strong>Address:</strong></td>
                          <td><%= location.street %><% if location.city || location.zipcode %><br><%= location.city %>, <%= location.state %> <%= location.zipcode%><% end %></td>
                        </tr>
                        <% if location.phone %>
                          <tr>
                            <td><strong>Phone:</strong></td>
                            <td><%= location.phone %></td>
                          </tr>
                        <% end %>
                        <% if location.hours%>
                          <tr>
                            <td><strong>Hours:</strong></td>
                            <td><%= location.hours.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if !location.description.empty? %>
                          <tr>
                            <td><strong>Notes:</strong></td>
                            <td><%= location.description.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if location.website %>
                          <tr>
                            <td></td>
                            <td>
                              <%= link_to "Visit Website", location.website, :target => "_blank" %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br><p>No drop-off locations found.</p>
          <% end %>
        </div>

        <!-- Pick-Up Table -->

        <div class="tab-pane fade" id="pick_up">
          <% unless @pick_up_locations.empty? %>
            <table class="table table-condensed location-table" id="pick_up_table">
              <thead>
                <th></th>
                <th>Name</th>
              </thead>
              <tbody class="pick_up_locations_table">
                <% @pick_up_locations.each do |location| %>
                  <tr class="locations_row" id="<%= location.id %>" data-phone="<%= location.phone%>" data-hours="<%= location.hours %>" data-url="<%= location.website %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>">
                    <td class="fixed-col-1">
                      <span class="glyphicon glyphicon-chevron-down gray" style="display: none;"></span><span class="glyphicon glyphicon-chevron-right gray"></span>
                    </td>
                    <td class="fixed-col-2">
                      <strong>
                        <span class="location_name"><%= location.name %></span>
                          <% if location.tibn %>
                            <%= image_tag "icon-tibn.gif", class: "program_icon" %>
                          <% end %>
                          <% if location.ecycle %>
                            <%= image_tag "icon-E-cycle-WA.gif", class: "program_icon" %>
                          <% end %>
                      </strong>
                    </td>
                  </tr>
                  <tr class="locations_desc_row" id="desc_<%= location.id %>">
                    <td style="border-top: none;"></td>
                    <td colspan="1" style="border-top: none;">
                      <table style="margin-bottom: 8px;">
                        <tr>
                          <td style="padding-right: 5px;"><strong>Address:</strong></td>
                          <td><%= location.street %><% if location.city || location.zipcode %><br><%= location.city %>, <%= location.state %> <%= location.zipcode%><% end %></td>
                        </tr>
                        <% if location.phone %>
                          <tr>
                            <td><strong>Phone:</strong></td>
                            <td><%= location.phone %></td>
                          </tr>
                        <% end %>
                        <% if location.hours%>
                          <tr>
                            <td><strong>Hours:</strong></td>
                            <td><%= location.hours.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if location.cost %>
                          <tr>
                            <td><strong>Cost:</strong></td>
                            <td><%= location.cost.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if !location.description.empty? %>
                          <tr>
                            <td><strong>Notes:</strong></td>
                            <td><%= location.description.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if location.website %>
                          <tr>
                            <td></td>
                            <td>
                              <%= link_to "Visit Website", location.website, :target => "_blank" %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br><p>No pick-up locations found.</p>
          <% end %>
        </div>

        <!-- Mail-In Table -->

        <div class="tab-pane fade" id="mail_in">
          <% unless @mail_in_locations.empty? %>
            <table class="table table-condensed location-table" id="mail_in_table">
              <thead>
                <th></th>
                <th>Name</th>
              </thead>
              <tbody class="mail_in_locations_table">
                <% @mail_in_locations.each do |location| %>
                  <tr class="locations_row" id="<%= location.id %>" data-phone="<%= location.phone%>" data-hours="<%= location.hours %>" data-url="<%= location.website %>" data-street="<%= location.street %>" data-city="<%= location.city %>" data-state="<%= location.state %>" data-zipcode="<%= location.zipcode %>">
                    <td class="fixed-col-1">
                      <span class="glyphicon glyphicon-chevron-down gray" style="display: none;"></span><span class="glyphicon glyphicon-chevron-right gray"></span>
                    </td>
                    <td class="fixed-col-2">
                      <strong>
                        <span class="location_name"><%= location.name %></span>
                          <% if location.tibn %>
                            <%= image_tag "icon-tibn.gif", class: "program_icon" %>
                          <% end %>
                          <% if location.ecycle %>
                            <%= image_tag "icon-E-cycle-WA.gif", class: "program_icon" %>
                          <% end %>
                      </strong>
                    </td>
                  </tr>
                  <tr class="locations_desc_row" id="desc_<%= location.id %>">
                    <td style="border-top: none;"></td>
                    <td colspan="1" style="border-top: none;">
                      <table style="margin-bottom: 8px;">
                        <tr>
                          <td style="padding-right: 5px;"><strong>Address:</strong></td>
                          <td><%= location.street %><% if location.city || location.zipcode %><br><%= location.city %>, <%= location.state %> <%= location.zipcode%><% end %></td>
                        </tr>
                        <% if location.phone %>
                          <tr>
                            <td><strong>Phone:</strong></td>
                            <td><%= location.phone %></td>
                          </tr>
                        <% end %>
                        <% if location.cost %>
                          <tr>
                            <td><strong>Cost:</strong></td>
                            <td><%= location.cost.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if !location.description.empty? %>
                          <tr>
                            <td><strong>Notes:</strong></td>
                            <td><%= location.description.html_safe %></td>
                          </tr>
                        <% end %>
                        <% if location.website %>
                          <tr>
                            <td></td>
                            <td>
                              <%= link_to "Visit Website", location.website, :target => "_blank" %>
                            </td>
                          </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <br><p>No mail-in locations found.</p>
          <% end %>
        </div>
      </div>
    <% else %>
      No results. Please try a different search.
    <% end %>
  </div>
</div>